<div class="content">
  <img src="assets/images/angular-logo.gif" alt="Angular logo" class="logo" />
  <div class="text-container">
    <h2 class="sub-title">Bienvenue dans ma sandbox Angular !</h2>
    <p class="description">
      Je mets à disposition ce projet où j'y teste les fonctionnalités d'Angular
      18.
    </p>
    <p class="description">
      Vous pouvez naviguer dans les différentes sections du site en cliquant sur
      les liens ci-dessous :
    </p>
  </div>
</div>
<ul class="link-container">
  <li routerLink="/cars" routerLinkActive="active" class="link">
    Cars window shopping
  </li>
</ul>
