.header {
  background: linear-gradient(90deg, #ff3d08, #e3029c);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 64px;
  padding: 16px;
}

.title {
  font-size: 32px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  margin-right: 36px;
}
.link {
  cursor: pointer;
  text-decoration: none;
  color: #ffffff;
}

.sublink {
  font-size: 20px;
}

.link-container {
  display: flex;
  gap: 16px;
}

@media (max-width: 768px) {
  .title {
    font-size: 16px;
  }
  .sublink {
    font-size: 14px;
  }
}
