.header {
  background: linear-gradient(90deg, #ff3d08, #e3029c);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 64px;
}

.title {
  font-size: 2.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  margin: 24px;
  color: #ffffff;
}
